<form method="post" action="{{ path('app_post_delete', {'id': post.id}) }}" onsubmit="return confirm('{{ 'misc.actions.delete._confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn">{{ 'misc.actions.delete._label'|trans }}</button>
</form>
